<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Paracetmol</h4>
      </div>
      <div class="card-body">
        
        <a class="p-2 text-dark" href="/medicines-info">Read more</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Dart</h4>
      </div>
      <div class="card-body">
          
        <a class="p-2 text-dark" href="/medicines-info">Read more</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Citrizen</h4>
      </div>
      <div class="card-body">
          
        <a class="p-2 text-dark" href="/medicines-info">Read more</a>
      </div>
    </div>
    
  </div>
</div>