

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Project Medizon</h1>
  <p class="lead">Online Delivery of the Medicines. The Proposal is focusing in E-Commerce.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm" *ngFor="let medicine of medicines">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{medicine.name}}</h4>
      </div>
      <div class="card-body">
        <img src="/assets/{{medicine.image}}">
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Order Now</button>
      </div>
    </div>
  </div>
</div>
