<div class= "pq">

    <div align="middle">
    <h1 style = "font-size:30px;">Cart Items</h1>
    </div>


  <div class="row">
      
      <div class="col-md-12">
          
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <img src="assets//{{sessionDetails.image}}" alt="Neo citran" width="300px" height="300px">
            
            <div class="column">
            <div class="card-body d-flex flex-column align-items-start">
           <h2> <strong class="d-inline-block mb-2 text-primary">{{sessionDetails.name}}</strong></h2>
            <h5 class="mb-0">
                  <a class="input-group"> Quantity &nbsp;
      
                  <input type="button" value="-" class="button-minus" (click)="dec()" data-field="quantity">
                  <input type="number" name="counter" class="quantity-field" [(ngModel)] ="counter" ngModel>
                  <input type="button" value="+" class="button-plus" (click)="inc()" data-field="quantity">
                   </a>
            
            <div class="input-group">
            <a>Price:</a>
            <a>{{updatedPrice}}</a>
            </div>
          </h5>

           
          </div>
          
          </div>
          <div class="ml-auto p-2">
              <a align="right" href="">&times;</a></div>
            </div>
          
      </div>
    
      
      </div>
      <div class="col-md-8" align="right"> <button type="button" align="right" (click)="updateCartToCheckout()">Check out</button></div>
      </div>