

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-9">
     
      <h1>Paracetmol</h1>
      <p>This can be used for fever and headache</p>
      
    </div>
    <div class="text-right">        
        <a href="/cart" class="btn btn-primary" role="button">Add to cart</a>
    </div>
    
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Product Description </h2>
      <p>This can be used to cure the following </p>
      <li>Fever</li>
      <li>Head Ache</li>
    </div>
  </div>

  <hr class="featurette-divider">



  

  

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->